body{
    background-color:bisque;
}
a{
    margin-left:10px;
}

.header{
    text-align: center;
    background-color: white;
    height:25px;
    margin-top:5px;
    border-bottom: 2px solid black;
    
}

a{
    padding:10px;
    text-decoration: none;
    opacity: 75%;
    font-weight: bold;
    color:black;
    font-size: 100%;
}

a:hover{
    text-decoration-line: underline;
    opacity: 100%;
}

.card{
    height:450px;
    width:300px;
    text-align: center;
    border: 3px solid black ;
    border-radius: 25px;
    margin-top:50px;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
}

#im{
    height: 250px;
    width:300px;
}

button{
    padding:5px;
    border-radius:25px;
    width:225px;
    font-size: medium;
}

#toggle{
    margin:5px;
}


